<div class="col-12 text-center">
  <div class="card shadow">
    <form class="card-body" (ngSubmit)="app.addNew(model);">
      <div class="card-header mb-2">
        <h1>Nueva Noticia</h1>
      </div>
      <div class="card-body">

        <div class="form-group">
          <input [(ngModel)]="model.title" type="text" name="title" class="form-control" placeholder="Title" required />
        </div>

        <div class="form-group">
          <textarea #description [(ngModel)]="model.description" name="description" class="form-control"
            placeholder="Descripcion" required></textarea>
        </div>

        <div class="form-group">
          <div class="custom-file">
            <input #image [(ngModel)]="model.image" type="file" name="image" class="custom-file-input" accept="image/*"
              id="validatedCustomFile" required />
            <label class="custom-file-label" for="validatedCustomFile">Elegir imagen...</label>
            <div class="invalid-feedback">Example invalid custom file feedback</div>
          </div>
        </div>

        <div class="form-group">
          <input #author [(ngModel)]="model.author" type="text" name="author" class="form-control" placeholder="Autor"
            required />
        </div>

        <div class="form-group">
          <input #place [(ngModel)]="model.place" type="text" name="place" class="form-control" placeholder="Lugar"
            required />
        </div>

        <div class="form-group">
          <input #date [(ngModel)]="model.date" type="date" name="date" class="form-control" placeholder="Fecha"
            required />
        </div>

      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>